.header__absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.header__nav-item {
  transition: all var(--transition-normal);
}

.header__nav-item:hover {
  color: var(--color-primary);
}

.header__anchor {
  padding: var(--space-16);
  color: var(--color-white);
  background-color: var(--color-gray);
  border-radius: var(--radius-xl);
  transition: all var(--transition-normal);
}

.header__anchor:hover {
  color: var(--color-black);
  background-color: var(--color-primary);
}

.hero {
  height: 100dvh;
  color: var(--color-white);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/background/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.metrics__absolute {
  position: absolute;
  bottom: -42px;
  z-index: var(--z-fixed);
  color: var(--color-black);
}

.metric__card {
  background-color: var(--color-white);
}

.metric__card--value {
  width: 72px;
  height: 72px;
  background: var(--color-warning-50);
  border: var(--border-thin) solid var(--color-warning);
  display: flex;
  justify-content: center;
  align-items: center;
}

.metric__card--male {
  background-color: var(--color-secondary-50);
  border: var(--border-thin) solid var(--color-secondary);
}

.metric__card--female {
  background-color: var(--color-accent-50);
  border: var(--border-thin) solid var(--color-accent);
}

.img-container {
  overflow: hidden;
  width: 100%;
}

.img-track {
  display: flex;
  gap: var(--space-16);
  width: max-content;
  animation: slideLeft 25s linear infinite;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
